
    <div class="alert alert-danger mt-3" role="alert">
        {{message}}. Kontaktujte administrátora, případně akci zopakujte nebo pokračujte na <a href="../employees/index.php">seznam zaměstnanců</a>.
    </div>

